<% include ../partials/header %>
  <div class="jumbotron mathpic">
    <h1 id="math">Analytics</h1>
  </div>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <th>Total Tutoring Sessions</th>
    </thead>
    <tbody>
      <tr>
        <td>Past week: </td>
        <td><%= weeklyOutput %></td>
      </tr>
      <tr>
        <td>Past month: </td>
        <td><%= monthlyOutput %></td>
      </tr>
      <tr>
        <td>Past year: </td>
        <td><%= yearlyOutput %></td>
      </tr>
    </tbody>
  </table>
  
  <table class="table">
    <thead>
      <th>Students Tutored</th>
    </thead>
    <tbody>
      <tr>
        <td>Past week: </td>
        <td><%= student_weekly %></td>
      </tr>
      <tr>
        <td>Past month: </td>
        <td><%= student_monthly %></td>
      </tr>
      <tr>
        <td>Past year: </td>
        <td><%= student_yearly %></td>
      </tr>
    </tbody>
  </table>
</div>

<% include ../partials/footer %>
