<% include partials/header %>


<h1>Analytics</h1>
<h2>Total Tutoring Sessions</h2>

<table >
  <tr>
    <td>This week: </td>
    <td> <%= weeklyOutput %>  </td>

  </tr>
  <tr>
    <td>This month: </td>
    <td> <%= monthlyOutput %>  </td>
  </tr>
  <tr>
    <td>This year: </td>
    <td> <%= yearlyOutput %> </td>
  </tr>
</table>


<h2>Students Tutored</h2>

<table >
  <tr>
    <td>This week: </td>
    <td> : <%= student_weekly %>  </td>

  </tr>
  <tr>
    <td>This month: </td>
    <td> <%= student_monthly %>  </td>
  </tr>
  <tr>
    <td>This year: </td>
    <td> <%= student_yearly %> </td>
  </tr>
</table>

<% include partials/footer %>
