
<% include partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">Answer Keys</h1>
    <h2 class="pagesub">All Problems and Answers.</h2>
</div>
<div class="container pagetext">
    <h2>Questions and Answers: </h2>


<% questions.forEach(function(question){ %>
  <h3><%= question.description %></h3>
  <p><%= question.knowledge %></p>
  <p><%= question.test_num %></p>
  <p><%= question.difficulty %></p>
  <img src="<%= question.image_link %>">
  <hr>
  <br>
<% }) %>

</div>

<% include partials/footer %>
