<% include partials/header %>
<div class="jumbotron bookstackpic">
  <h1 id="profiletitle">Student Profile</h1>
</div>

<div class="container">
	<div class="wrapper" style="float: left; margin-bottom: 50px;">
		<article class="main">
			<h4><i class="fa fa-user"></i> <%= user.name %></h4>
			<h4><i class="fa fa-envelope"></i> <%= user.username %></h4>
			<h4><i class="fa fa-graduation-cap"> </i><%= user.school %>, <%= user.year %></h4>
			<h4><i class="fas fa-chalkboard-teacher"></i> Tutoring Sessions Attended: <%= user.num_tutoring_sessions%></h4>
		</article>
	</div>
</div>
<div class="container">
	<h3><a href="/reviewmissed">Review your missed questions</a></h3>
    <h3><a href="/reviewcorrect">Review your correct questions</a></h3>
</div>
<% include partials/footer %>
