<% include ../partials/header %>

<!-- regex extracts imageID from google drive image -->
<% var regex = /^\/d\/(.+)/; %>
<% var imageID = question.image_link.match(/\/d\/(.+?)\/view/)[1]; %>
<% var imageURL = "https://drive.google.com/uc?export=view&id=" + imageID %>
<div class="container">
  <div align="center">
    <img src="<%= imageURL %>" , alt="Question Image">
  </div>
  <% var postLink = "/question/" + link %>
  <form action="<%= postLink %>" method="post">
  <% if (question.isMC == true) { %>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerMC" id="radio1" value="A">
    <label class="form-check-label" for="radio1">A</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerMC" id="radio2" value="B">
    <label class="form-check-label" for="radio2">B</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerMC" id="radio3" value="C">
    <label class="form-check-label" for="radio3">C</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerMC" id="radio4" value="D">
    <label class="form-check-label" for="radio4">D</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerMC" id="radio4" value="I would be guessing">
    <label class="form-check-label" for="radio4">I would be guessing</label>
  </div>
  <% } else { %>
  <div class="form-group">
    <label for="answerInput">Type answer below: </label>
    <input class="form-control form-control-lg" type="text" name="answerInput" autocomplete="off" id="answerInput">
  </div>
  <% } %>
  <button class="btn btn-primary mb-2">Submit</button>
  </form>
  <br>
</div>
<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body" style="padding: 10px;">
      <h4 class="card-title">About this question: </h4>
      <p class="card-text">Math <%= question.test_num%></p>
      <p class="card-text">Question <%= question.question_num%> </p>
      <p class="card-text">Type: <%= question.type%></p>
      <p class="card-text">Category: <%= question.category%></p>
      <p class="card-text">Subcategory: <%= question.subcategory%></p>
    </div>
  </div>
</div>
<% include ../partials/footer %>
