<% include ../partials/header %>
<script>
    $(document).ready(function () {
            $("button").click(function () {
                $("#reviewAnswer").toggle();
            });
    });
</script>
<div class="container"></div>
<div class="jumbotron geometrypic">
    <% if (!correct) {%>
        <h1 class="capitalize" id="math">Missed Questions:</h1>
    <% } else { %>
        <h1 class="capitalize" id="math">Correct Questions:</h1>
    <% } %>

</div>
<div class="panel panel-default">
    <table class="table">
        <% questions.forEach(function(question) { %>
        <tr>
            <td>
                <!-- regex extracts imageID from google drive image -->
                <% var regex = /^\/d\/(.+)/; %>
                <% var imageID = question.image_link.match(/\/d\/(.+?)\/view/)[1]; %>
                <% var imageURL = "https://drive.google.com/uc?export=view&id=" + imageID %>
                <div align="center">
                    <img src="<%= imageURL %>" , alt="Question Image">
                    <br>
                    <button id="buttonId" class="btn btn-primary">Show answer</button>
                    <h4 id="reviewAnswer" style="display: none;">Correct answer:
                        <%= question.answer %>
                    </h4>
                    <br>
                    <hr>
                </div>
            </td>
        
            <td>
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="padding: 10px;">
                        <h4 class="card-title">About this question: </h4>
                        <p class="card-text">Math
                            <%= question.test_num%>
                        </p>
                        <p class="card-text">Question
                            <%= question.question_num%>
                        </p>
                        <p class="card-text">Type:
                            <%= question.type%>
                        </p>
                        <p class="card-text">Category:
                            <%= question.category%>
                        </p>
                        <p class="card-text">Subcategory:
                            <%= question.subcategory%>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        <% }); %>
        </div>
    </table>
</div>


<% include ../partials/footer %>